.btn{
font-size: 1rem;
font-weight: bold;
padding: 1rem 2.5625rem;
text-transform: uppercase;
border-radius: 6.25rem;
line-height: 1;
color: #FFFFFF;
text-decoration: none;
&--theme--red {
  background: #E01F3D;
  
}
}