.btn{
font-size: rem(16px);
font-weight: bold;
padding: rem(16px) rem(41px);
text-transform: uppercase;
border-radius: rem(100px);
line-height: 1;
color: #FFFFFF;
text-decoration: none;
&--theme--red {
  background: #E01F3D;
  
}
}