.descriptions{
  display: flex;
}
descriptions__item{
  flex: 1;
  margin: 0 4%;
  position: relative;
  &:first-child {
    margin-left: 0;
  }

&:before {
  content: url("../img/Combined\ shape\ 2203\ \(2\).svg");
  top: rem(30px);
  right: 0;
  transform: translateX(50%);
  padding: 0 4%;
  position: absolute;

}

&:before {
  display: none;
}

  &:last-child{
    margin-right: 0;
  }
}

