@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url(../img/beats.png) right 10% center no-repeat;
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 650px;
  color: black;
  position: relative;
}
.hero:before {
  content: url(../img/decHero.svg);
  position: absolute;
  bottom: -25px;
  right: 12%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-bottom: 66px;
}

.hero__title-section {
  width: 40%;
}

.hero__main-title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 22px;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 36px;
  padding-right: 14%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-top: 35px;
  margin-right: 22px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  margin-top: 35px;
  font-size: 18px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.logo {
  margin-top: 25px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 40px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 37px;
  margin-right: 6px;
}

.feature__text {
  font-size: 16px;
  max-width: 114px;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 16px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  color: #FFFFFF;
  text-decoration: none;
}
.btn--theme--red {
  background: #E01F3D;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: -3px;
}

.headtitle {
  margin-bottom: 60px;
  text-align: center;
}

.headtitle__sub {
  color: #666666;
  padding: 0 20%;
}

.descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

descriptions__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 4%;
  position: relative;
}
descriptions__item:first-child {
  margin-left: 0;
}
descriptions__item:before {
  content: url("../img/Combined shape 2203 (2).svg");
  top: 30px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  padding: 0 4%;
  position: absolute;
}
descriptions__item:before {
  display: none;
}
descriptions__item:last-child {
  margin-right: 0;
}

.description {
  text-align: center;
}

.description__image-wrapper {
  position: relative;
  display: inline-block;
  width: 128px;
  height: 128px;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 22px;
}

.description__icon {
  width: 58px;
  height: 60px;
  position: absolute;
  top: 26%;
  left: 28%;
}

.description__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.description__cont {
  font-size: 16px;
  padding: 0 26%;
  color: #666666;
}

.descriptions-section {
  position: relative;
}
.descriptions-section:before {
  content: url(../img/rred.svg);
  position: absolute;
  bottom: -80px;
  left: 4%;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px 42px;
  overflow: hidden;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 83px;
  height: 83px;
  background: white;
  border-radius: 50%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -99px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
}

.reviews__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 26px;
}

.reviews__text {
  margin-bottom: 20px;
  color: #666666;
}

.reviews__autor {
  font-weight: bold;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4px;
}
.interactive-avatar:last-child {
  margin-right: 0;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  text-align: center;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.interactive-avatar__foto {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
}